ERProject/Library/
ERProject/Temp/
ERProject/.vs/
ERProject/.vscode/
*.sln
*.csproj
ERProject/Assets/Resources/Materials.meta
ERProject/Assets/Resources/Materials/No Name.mat
ERProject/Assets/Resources/Materials/No Name.mat.meta
